@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-1: rgb(0, 224, 138);
    --color-2: #00a566;
    --color-3: #ffffff;
    --color-4: #eeeeee;
    --color-5: #0a0a0a;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

html, body {
    width: 100%;
    min-height: 100%;
    background-color: var(--color-4);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* header */

header {
    width: 100%;
    background-color: var(--color-1);
    color: var(--color-3);
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-y: hidden;
}

header ul {
    list-style-type: none;
    display: flex;
}

header a {
    font-weight: bold;
    text-decoration: none;
    color: var(--color-3);
    padding: 11px 10px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header a:hover {
    background-color: var(--color-2);
    color: var(--color-4);
}

header .material-symbols-outlined{
    font-size: 24px;
}

.tema::after {
    content: "sunny";
}

/* main */

main {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 90vw auto;
    gap: 20px;
}

#content_perfil {
    background-color: var(--color-3);
    padding: 20px;
    grid-column: 2 / 3;
    border-radius: 4px;
}

#content_perfil img {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid var(--color-3);
    outline: 5px solid var(--color-1);
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#content_perfil h1 {
    margin-top: 14px;
    color: var(--color-1);
    font-style: italic;
    font-size: 30px;
}

#content_perfil h2 {
    color: var(--color-2);
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

#content_perfil p {
    color: var(--color-5);
    font-size: 16px;
    text-indent: 32px;
    margin: 10px 0px;
}

#social_perfil ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#social_perfil svg {
    height: 32px;
    transition: transform 0.5s ease;
}

#social_perfil a {
    color: var(--color-1);
    margin: 0px 10px;
    transition: color 0.5s ease, transform 0.5s ease;
}

#social_perfil a:hover {
    color: var(--color-2);
}

#social_perfil a:hover > svg {
    transform: rotate(360deg);
}

/* detalhe */

#detalhe {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

#detalhe > article {
    background-color: var(--color-3);
    padding: 20px;
    border-radius: 4px;
}

#detalhe article > h2 {
    color: var(--color-1);
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

#detalhe h2 > .material-symbols-outlined{
    font-size: 30px;
    transition: transform 0.5s ease;
}

#detalhe > article:hover > h2 > .material-symbols-outlined{
    transform: rotate(360deg);
}

/* Formações */

#formacaos .container {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

#formacaos .item {
    background-color: var(--color-4);
    padding:4px 0px 4px 8px;
    border-left: 4px solid var(--color-1);
    border-radius: 8px;
    transition: border-left 0.5s ease;
}

#formacaos .item:hover {
    border-left: 12px solid var(--color-2);
}

#formacaos .item > .periodo {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-5);
}

#formacaos .item > .instituicao {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-5);
}

#formacaos .item > .curso {
    font-size: 15px;
    font-weight: normal;
    color: var(--color-5);
}

#formacaos h3 {
    margin: 2px 0px;
}
/* Skills */

#skills .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-bottom: 16px;
}

#skills .info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

#skills .info > span {
    display: flex;
    align-items: center;
    gap: 4px;
}

#skills span > .nome {
    font-size: 16px;
    font-weight:bold;
    color: var(--color-5);
}

#skills span > .material-symbols-outlined {
    font-size: 20px;
    font-weight:bold;
    color: var(--color-5);
}

#skills .porcent {
    font-size: 16px;
    font-weight:bold;
    color: var(--color-1);
}

#skills .barra {
    height: 8px;
    width: 100%;
    background-color: var(--color-4);
    border-radius: 4px;
    overflow: hidden;
}

#skills .progress {
    height: 100%;
    background-color: var(--color-1);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

}

/* MUDAR ISSO PARA UM CSS DE DESKTOP */

@media screen and (min-width: 780px) {
    #skills .container {
    grid-template-columns: 1fr 1fr;
}
}